<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="WP Cablecast Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
            <file>./cablecast.php</file>
            <file>./display.php</file>
            <file>./theme-functions.php</file>
        </include>
    </coverage>
</phpunit>
